<!--En pug la identación indica la jerarquía, similar a python
Al ser este el layout principal, será comun en todas las diferentes páginas.-->
<!--h1 Hola Mundo Esto equivale a <h1> hola </h1>
h2 Somos "#{titulo}"
img(src="img/cupon.jpg")
h3 #{vision}
h3 #{mision}-->
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombreSitio} - #{pagina}
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap' rel='stylesheet')
    
    body(class=clase)
        
        include header
        block slider
            //Estamos declarando que se usara otro archivo pug para definir este contenido. Es decir que index.pug es su padre.
        block contenido
        include footer 
